* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.bgVideo {
  width: 100vw;
  height: 110vh;
  position: relative;
  overflow:hidden;
  z-index: -99999;
}

@import "_preloader";
@import "_leftBlockWeather";
@import "_downBlockWeather";
@import "_mainWeatherBlock";

.mainContainer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}