* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body {
  // height:100vh;
  // background: rgb(35, 28, 154);
  // background: linear-gradient(
  //   0deg,
  //   rgba(35, 28, 154, 1) 0%,
  //   rgba(33, 33, 194, 1) 17%,
  //   rgba(0, 212, 255, 1) 100%
  // );
  // background-image: url(../../img/weather/As-Above-So-Below-2560x1600.jpg)
}

.bgVideo{
  position: relative;
  z-index: -9999;
}


.weather {
  position: absolute;
  z-index: 1;
  box-shadow: 6px 6px 17px 7px rgba(12, 55, 88, 0.2);
  color: white;
  text-align: center;
  background:rgb(4, 201, 255, 0.5);
  border-radius: 20px;
  

  
  width: 60%;
  height: 480px;
  top:15%;
  left:21.1%
}

.time {
  padding: 2rem 0em 0rem 0em;
  font-size: 60px;
}

.location {
  display: flex;
  font-size: 40px;
  // background:blue;
  // justify-content:center;
  align-items: center;
}

.location__sity {
  // white-space:nowrap;
  padding: 0rem 0rem 0rem 10rem;
    // padding-right: 10rem;
}
.icon {
  width: 100%;
  padding: 0rem 10rem 0rem 0rem;
  img{
    width: 190px;
    height: 190px;
    float: right;
    opacity: .6;
    

   
  }
    
}
.temperature{
  display: flex;
  text-align:center;
  width: 100%;
  margin-left: 46%;
}
.temperature__icon{
  font-size: 45px;
}
.temperature__number {
  font-size: 56px;
  padding: 0rem 0rem 4rem 0rem;
}
.condition{
  font-size: 20px;
}
