* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.bgVideo {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -99999;
}

.preloader__window {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.preloader__window h3 {
  text-align: center;
  font-size: 24px;
}

.preloader-remove {
  display: none;
}

.preloader-5 {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20% auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337ab7;
  animation: preloader-5-spin 2s linear infinite;
}

.preloader-5:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #bfe2ff;
  animation: preloader-5-spin 3s linear infinite;
}

.preloader-5:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337ab7;
  animation: preloader-5-spin 1.5s linear infinite;
}

@keyframes preloader-5-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.leftBlockWeather {
  width: 15%;
  height: 716px;
  box-shadow: 6px 6px 17px 5px rgba(12, 55, 88, 0.2);
  background: rgba(4, 201, 255, 0.5);
  border-radius: 20px;
}

.wind__speed, .pressure_mm, .humidity {
  height: 33%;
  color: white;
  text-align: center;
}
.wind__speed img, .pressure_mm img, .humidity img {
  margin: 40px 0px 30px 0px;
  width: 100px;
  height: 100px;
}

.downBlockWeather {
  margin: 1em 1em 0em 1em;
  width: 50vw;
  height: 240px;
  box-shadow: 6px 6px 17px 5px rgba(12, 55, 88, 0.2);
  background: rgba(4, 201, 255, 0.5);
  border-radius: 20px;
  color: white;
}

.weatherForecast {
  display: flex;
}
.weatherForecast li {
  list-style: none;
  width: 120px;
  height: 200px;
  margin: 20px 10px 0px 10px;
  text-align: center;
}
.weatherForecast li h4 {
  font-size: 14px;
  padding: 5px 0px 10px 0px;
}
.weatherForecast li p {
  font-size: 12px;
}
.weatherForecast li img {
  width: 100px;
  height: 100px;
}
.weatherForecast li h5 {
  font-size: 20px;
}
.weatherForecast li h6 {
  font-size: 14px;
}

.weather {
  margin: 0em 1em 0em 1em;
  z-index: 1;
  box-shadow: 6px 6px 17px 5px rgba(12, 55, 88, 0.2);
  color: white;
  text-align: center;
  background: rgba(4, 201, 255, 0.5);
  border-radius: 20px;
  width: 50vw;
  height: 460px;
}

.timeAndSearch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  padding: 2% 0em 0rem 25%;
  font-size: 60px;
}

.search__input {
  margin: 10% 0em 0em 40%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  opacity: 0.6;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search__img {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: -2em 0em 0em 9.5em;
  opacity: 0.6;
}

.location {
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}

.location__sity {
  padding: 0rem 0rem 0rem 10rem;
}

.icon {
  width: 100%;
  padding: 0rem 10rem 0rem 0rem;
}
.icon img {
  width: 190px;
  height: 190px;
  float: right;
}

.temperature__number {
  font-size: 56px;
  padding: 0rem 0rem 1rem 0rem;
}

.feels_like {
  font-size: 15px;
  padding: 0rem 0rem 2rem 0rem;
}

.condition {
  font-size: 20px;
}

.selectCity {
  display: none;
}
.selectCity li {
  width: 90%;
  margin: 1.5em auto;
  border: 1px solid rgb(127, 135, 141);
  text-align: left;
  list-style-type: none;
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
}

.search__block {
  display: block;
}

.mainContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}